certifi==2020.6.20
click==7.1.2
DateTime==4.3
Flask==1.1.2
gunicorn==20.0.4
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
MarkupSafe==1.1.1
numpy==1.18.3
pandas==1.0.3
python-dateutil==2.8.1
pytz==2019.3
scikit-learn==0.24.0
scipy==1.5.4
six==1.14.0
threadpoolctl==2.1.0
Werkzeug==1.0.1
wincertstore==0.2
xlrd==2.0.1
xrd==0.1
zope.interface==5.1.0
